REDIS_URL=redis://redis:6379
AMAZE_ORCHESTRATOR_URL=http://orchestrator:8001
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
ORCHESTRATOR_HOST=0.0.0.0
ORCHESTRATOR_PORT=8001
RESEARCH_NODE_HOST=0.0.0.0
RESEARCH_NODE_PORT=9002
RESEARCH_NODE_PUBLIC_ENDPOINT=http://a2a-research:9002/invoke
WRITER_NODE_HOST=0.0.0.0
WRITER_NODE_PORT=9003
WRITER_NODE_PUBLIC_ENDPOINT=http://a2a-writer:9003/invoke
